<!DOCTYPE html>
<head>
	<title>Jacorb's Games</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="js/break_eternity.js"></script>
	<script type="text/javascript" src="js/OmegaNum.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body onload="loadVue()">
	<div id="app">
		<div id="titleBanner"><div style="height: calc(50% - 45px);"></div><span class="jac">JACORB'S  GAMES</span>
		<a class="btnlink" href="http://discord.gg/wwQfgPa" target="_blank" style="position: absolute; top: 5px; left: 5px; font-size: 15px; background-color: #36393e; color: white; text-shadow: 0px 0px 7px black; height: 50px;"><div style="margin-top: calc(50% - 20px)">DISCORD</div></a>
		<a class="btnlink" href="http://patreon.com/Jacorb90" target="_blank" style="position: absolute; top: 65px; left: 5px; font-size: 15px; background-color: #eb6b34; height: 50px;"><div style="margin-top: calc(50% - 20px)">PATREON</div></a></div>
		<div style="min-height: calc(100% - 130px);" class="jacBG">
			<br>
			<i>Note: Only sites starting with <b>jacorb90.github.io/...</b> give score (updates on reload)</i>
			<br>
			<h2>Total Game Score: {{OVERALL_DATA.totalScore}} / {{OVERALL_DATA.totalScoreLimit}}</h2><br>
			<h1>Main Games</h1><br>
			<table>
				<tr>
					<td v-for="data in MAIN_GAMES" style="width: 200px; height: 200px; margin: 0px 0px 20px 20px; background-color: black; border: 3px solid white;">
						<span v-if="data.id!='ngp3c'"><br></span><h3>{{data.title}}</h3><br>
						Game Score: {{data.score()}} / {{data.scoreLimit}}<br><br>
						<a class="btnlink" v-bind:href="data.url" target="_blank"><div style="margin-top: calc(50% - 30px)">PLAY</div></a>
						<br><br>
					</td>
				</tr>
			</table><br>
			<h1>Side Projects</h1><br>
			<table>
				<tr>
					<td v-for="data in SIDE_PROJECTS" style="width: 200px; height: 200px; margin: 0px 0px 20px 20px; background-color: black; border: 3px solid white;">
						<span><br></span><h3>{{data.title}}</h3><br>
						Game Score: {{data.score()}} / {{data.scoreLimit}}<br><br>
						<a class="btnlink" v-bind:href="data.url" target="_blank"><div style="margin-top: calc(50% - 30px)">PLAY</div></a>
						<br><br>
					</td>
				</tr>
			</table><br>
			<h1>Completed Projects</h1><br>
			<table>
				<tr>
					<td v-for="data in COMPLETED_GAMES" style="width: 200px; height: 200px; margin: 0px 0px 20px 20px; background-color: black; border: 3px solid white;">
						<span><br></span><h3>{{data.title}}</h3><br>
						Game Score: {{data.score()}} / {{data.scoreLimit}}<br><br>
						<a class="btnlink" v-bind:href="data.url" target="_blank"><div style="margin-top: calc(50% - 30px)">PLAY</div></a>
						<br><br>
					</td>
				</tr>
			</table><br>
			<br><br><br>
		</div>
	</div>
	<!-- 
		01101010 01100001 01100011 01101111 01110010 01100010 00111001 00110000 00101110 
		01100111 01101001 01110100 01101000 01110101 01100010 00101110 01101001 01101111 
		00101111 01100100 01100001 01110100 01100001 00101110 01111010 01101001 01110000
	-->
</body>